<div id="fh5co-consult">
    <div class="video fh5co-video" style="background-image: url(/images/cover-contact.jpg);">
        <div class="overlay"></div>
    </div>
    <div class="choose animate-box">
        <h2>Contact</h2>
        <form method = "post" action="/users">
            <div class="row form-group">
                <div class="col-md-6">
                    <input type="text"  name = 'firstname' class="form-control" placeholder="Your firstname"
                    >
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <input type="text" id="lname"  name='lastname' class="form-control" placeholder="Your lastname">
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    <input type="text" id="email" name = 'email' class="form-control" placeholder="Your email address">
                </div>
            </div>

            <!--<div class="row form-group">-->
                <!--<div class="col-md-12">-->
                    <!--<input type="text" id="subject" class="form-control" placeholder="Your subject of this message" name ='subject'>-->
                <!--</div>-->
            <!--</div>-->

            <div class="row form-group">
                <div class="col-md-12">
                        <textarea id="message" id="message" cols="30" rows="10" class="form-control"
                                  placeholder="Say something about us" name = 'msg'></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="service_code" value="send_email" hidden>
                <input type="submit" value="Send Message" class="btn btn-primary">
            </div>

        </form>
    </div>
</div>