<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Resume</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Work Experience</h3></div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Backend Developer Intern</h3>
                                <span class="company">CAKNOW 2018- Now</span>
                            </div>
                            <div class="timeline-body">
                                <p>Developed a customer relationship management web application for oversea client.Designed and developed new features and services to support client applications</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Education</h3></div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Certificate</h3>
                                <span class="company">UCLA Extension</span>
                            </div>
                            <div class="timeline-body">
                                <p><ul>Application Programming in C#. NET</ul>
                                <ul>Mobile Application Development</ul>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Bachelors Degree</h3>
                                <span class="company">University of Washington - Seattle</span>
                            </div>
                            <div class="timeline-body">
                                <p> <ul>Bachelor's of Science in Economics</ul>
                                    <ul>Minor in Mathematics</ul> </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>