<div id="fh5co-resume" class="fh5co-bg-color">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>My Resume</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline">
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Work Experience</h3></div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">CTO</h3>
                                <span class="company">CAKNOW 2017- Now</span>
                            </div>
                            <div class="timeline-body">
                                <p>Lead technical team developed User App, Service Provider Web App, and CRM System</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Product Manager -> CTO</h3>
                                <span class="company">Sunshire Shuttle - 2016 - 2017</span>
                            </div>
                            <div class="timeline-body">
                                <p>Designed Driver & Admin iOS App, Reinforced backend server.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-suitcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">System Developer</h3>
                                <span class="company">Ferris Wheel LLC - 2015 - 2016</span>
                            </div>
                            <div class="timeline-body">
                                <p>Designed & Developed Ferris Wheel Field operation system.</p>
                            </div>
                        </div>
                    </li>

                    <br>
                    <li class="timeline-heading text-center animate-box">
                        <div><h3>Education</h3></div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Masters Degree</h3>
                                <span class="company">Gannon University - 2013 - 2015</span>
                            </div>
                            <div class="timeline-body">
                                <p>Gannon University is a private, co-educational Catholic university located in Erie, Pennsylvania, offering associate's, bachelor's, master's, and doctoral degrees and certificates.
                                    </p>
                            </div>
                        </div>
                    </li>
                    <li class="animate-box timeline-unverted">
                        <div class="timeline-badge"><i class="icon-graduation-cap"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Bachelors Degree</h3>
                                <span class="company">Nanjing University - 2008 - 2012</span>
                            </div>
                            <div class="timeline-body">
                                <p>Major Software Engineering, Cloud Computing Graduation Project Won First Place of all software engineering department.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>