<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="info">
                    <li><span class="first-block">Full Name:</span><span
                                class="second-block">Xian Li</span></li>
                    <li><span class="first-block">Phone:</span><span class="second-block">+ 1 2064590199</span></li>
                    <li><span class="first-block">Email:</span><span class="second-block">josiexianli@gmail.com</span>
                    </li>
                    <li><span class="first-block">Website:</span><span class="second-block">josiexianli.com</span>
                    </li>
                    <li><span class="first-block">Address:</span><span class="second-block">Danton Dr, Glendora, CA</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>Hello There!</h2>
                <p>My name is Xian Li and I'm a full-stack web developer that's into technology, traveling, cats,
                    games, joy of life and so much more
                     </p>
                <p>I'm a recent graduate of the University of Washington with 1 year’s project and intern experience
                    of full stack development, web/mobile application, and algorithm implementation. Offer a solid
                    understanding of computer science, analytics and programming skills in Java, JavaScript and SQL.
                    Passionate about learning and mastering new technologies quickly.
                    Self-motivated and detail-oriented to work in both team and self-directed settings.</p>
                <p>
                <ul class="fh5co-social-icons">
                    <li><a href="https://www.facebook.com/josie.li.507"><i class="icon-facebook2"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/xian-li-580517111/"><i class="icon-linkedin2"></i></a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>