<div id="fh5co-about" class="animate-box">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="info">
                    <li><span class="first-block">Full Name:</span><span
                                class="second-block">Chris Yao</span></li>
                    <li><span class="first-block">Phone:</span><span class="second-block">+ 1 814 566 4700</span></li>
                    <li><span class="first-block">Email:</span><span class="second-block">chrisyao900908@gmail.com</span>
                    </li>
                    <li><span class="first-block">Website:</span><span class="second-block">chrisyao0908.com</span>
                    </li>
                    <li><span class="first-block">Address:</span><span class="second-block">2263 Valley Blvd, Pomona, CA</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>Hello There!</h2>
                <p>I graduated in Software Engineering on 2015. I was CTO/Software architect of Sunshire Shuttle from 2016 to 2017. I led growth from zero to 1.2 million active users, and 1.4k orders per day.
                    I was responsible for design and develop the entire Shuttle system back end and iOS App.
                     </p>
                <p>I developed an open source location tracking algorithm which had been used in more than one thousand projects.</p>
                <p>
                <ul class="fh5co-social-icons">
                    <li><a href="https://www.facebook.com/yuan.yao.127201"><i class="icon-facebook2"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/yuan-yao-a08b92ba/"><i class="icon-linkedin2"></i></a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>