<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Project Experience</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="https://github.com/josiexianli" class="work"
                   style="background-image: url(/images/work-1.jpg);">
                    <div class="desc">
                        <h3>Movie Search Project</h3>
                        <span>Developed an interactive web application to allow users to search for movies in OMDB.</span>

                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="https://github.com/josiexianli" class="work" style="background-image: url(/images/work-2.jpg);">
                    <div class="desc">
                        <h3>Yelp Restuarant</h3>
                        <span>Developed an interactive Android application to allow users to search for restaurants.</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="https://github.com/josiexianli" class="work" style="background-image: url(/images/work-3.jpg);">
                    <div class="desc">
                        <h3>Color Game Project</h3>
                        <span>Developed an interactive Color Guessing Game on the web with two levels of difficulty.</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="https://github.com/josiexianli" class="work" style="background-image: url(/images/work-4.jpg);">
                    <div class="desc">
                        <h3>Micheal Jackson Song Project</h3>
                        <span>Developed an android app to load Micheal Jackson songs from Internet.</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>