<div id="fh5co-work" class="fh5co-bg-dark">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Work</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="https://github.com/chrisyao4700/sunshire-driver-contract" class="work"
                   style="background-image: url(/images/work-1.jpg);">
                    <div class="desc">
                        <h3>SunshiRe Driver</h3>
                        <span>Sunshire Shuttle Driver End</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="htt[://sunshireshuttle.net" class="work" style="background-image: url(/images/work-2.jpg);">
                    <div class="desc">
                        <h3>SunshiRe Meteor</h3>
                        <span>Sunshire Shuttle Customer Online Ordering Web App</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="http://acihacienda.com" class="work" style="background-image: url(/images/work-3.jpg);">
                    <div class="desc">
                        <h3>ACI Hacienda Website</h3>
                        <span>Website for ACI Institute Hacienda Branch Campus</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 text-center col-padding animate-box">
                <a href="#" class="work" style="background-image: url(/images/work-4.jpg);">
                    <div class="desc">
                        <h3>ACI CRM</h3>
                        <span>iPad App for ACI Institute to manage student/teacher/class information.</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>