<!DOCTYPE HTML>
<html>
<head>
    <% include components/head.ejs %>
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <% include components/header.ejs %>

    <% include components/topAbout.ejs %>

    <% include components/resume.ejs %>

    <% include components/services.ejs %>

    <% include components/skills.ejs %>

    <% include components/works.ejs %>

    <% include components/contact.ejs %>

    <div id="map" class="fh5co-map"></div>
</div>

<div id="fh5co-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2017 Chris & Lulu. All Rights Reserved. <br>Designed by Chris Yao</p>
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up22"></i></a>
</div>

<% include components/buttomScripts.ejs %>

</body>
</html>

